.habit {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: black;
    margin: 1%;

    text-align: center;
    vertical-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}